header {
  display: flex;
  flex-direction: row;
  padding: 0 40px;
  background: white;
  height: 88px;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: none;
  justify-content: space-between;
  z-index: 2;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}
header .cart-login .offcanvas .offcanvas-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .cart-login .offcanvas .offcanvas-body img {
  width: 316px;
}
header .cart-login .offcanvas .offcanvas-body h5 {
  font-size: 20px;
  color: #1c1c1c;
  font-weight: 600;
  margin-top: 24px;
}
header .cart-login .offcanvas .offcanvas-body .caption {
  margin-top: 8px;
  color: #9a9a9a;
  font-size: 12px;
}
header .cart-login .offcanvas .offcanvas-body .btn {
  padding: 10px 0;
  background: none;
  outline: none;
  border: none;
  color: #00a5cf;
}

header .logo {
  color: white;
}

header .logo img {
  height: 80px;
}

header .cart-login {
  display: flex;
  flex-direction: row;
}

header .cart-login .cart,
header .cart-login .login {
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #676767;
  cursor: pointer;
}

header .cart-login .cart {
  width: 40px;
  height: 42px;
  flex-direction: row;
  margin-right: 10px;
  border: 1px solid #676767;
}

header .cart-login .cart img {
  width: 16px;
  height: 16px;
}

header .cart-login .login-btn {
  padding: 0px 12px;
  text-decoration: none;
  color: #676767;
  font-size: 12px;
}

main.main-search {
  margin-top: 88px;
  padding: 0 40px;
  width: 100%;
}
main.main-search .search-bar {
  display: grid;
  grid-template-columns: 5% 95%;
  height: 40px;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 20px;
  margin-top: 16px;
  margin-bottom: 24px;
}
main.main-search .search-bar .search-img {
  width: 32px;
  height: 32px;
  margin: 0 10px;
}
main.main-search .search-bar .search-text {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f7f7f7;
  font-size: 14px;
  font-weight: 300;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
main.main-search .swiper-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow: hidden;
  padding: 3px;
}
main.main-search .swiper-container .swiper-slide {
  min-width: 172px;
  height: 112px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
main.main-search .swiper-container .swiper-slide .image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
main.main-search .swiper-container .swiper-slide .caption {
  position: absolute;
  color: #ffffff;
}
main.main-search .swiper-container .swiper-slide:hover {
  outline: 2px solid #00b14f;
}
main.main-search ul.breadcrumb {
  padding-top: 48px;
}
main.main-search ul.breadcrumb li {
  list-style-type: none;
  display: inline;
}
main.main-search ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
main.main-search ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/ ";
}
main.main-search .food h1.title {
  font-size: 36px;
  font-weight: bold;
}
main.main-search .food h1.title .green-text {
  color: #00b14f;
  font-size: 36px;
}

main.main-search .food-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

main.main-search .food-container::-webkit-scrollbar {
  width: 0px;
}

main.main-search .food-container .food-slide {
  width: 25%;
  padding: 0 8px 48px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

main.main-search .food-container .food-slide .food-image {
  border-radius: 5px;
  width: 100%;
  height: 250px;
  margin-bottom: 5px;
}

main.main-search .food-container .food-slide .food-address {
  font-size: 18px;
  margin-bottom: 10px;
}

main.main-search .food-container .food-slide .filter-name {
  color: #676767;
  font-size: 14px;
  margin-bottom: 10px;
}

main.main-search .food-container .food-slide .basic-info {
  display: flex;
  align-items: center;
  color: #676767;
  gap: 20px;
}

main.main-search .food-container .food-slide .basic-info .ranking {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: inherit;
}

main.main-search .food-container .food-slide .basic-info img {
  width: 24px;
  height: 24px;
}

main.main-search .food-container .food-slide .basic-info .time-distance {
  display: flex;
  gap: 10px;
  font-size: inherit;
}

/* main.main-search .food-container .food-slide .basic-info .time-distance .dot {
      font-weight: bold;
      display: inherit;
      justify-content: center;
      align-items: center;
    } */
main.main-search .food-container .food-slide .basic-info .time-distance .time {
  display: inherit;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  gap: 10px;
}

main.main-search
  .food-container
  .food-slide
  .basic-info
  .time-distance
  .distance {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
}

main.main-search .food-container .food-slide .discount {
  margin-top: 10px;
  width: 100%;
  word-wrap: break-word;
}

main.main-search .food-container .food-slide .discount .discount-logo {
  width: 24px;
  height: 24px;
}

main.main-search .food-container .food-slide .discount .discount-text {
  font-size: 14px;
}
