* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
}

/* body #root {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
} */

header {
  display: flex;
  flex-direction: row;
  padding: 0 40px;
  background: white;
  height: 88px;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: none;
  justify-content: space-between;
  z-index: 2;
  transition: background-color 0.3s ease;
}
header .logo {
  color: white;
}
header .logo img {
  height: 80px;
}
header .cart-login {
  display: flex;
  flex-direction: row;
}
header .cart-login .cart,
header .cart-login .login {
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #676767;
  cursor: pointer;
}
header .cart-login .cart {
  width: 40px;
  height: 42px;
  flex-direction: row;
  margin-right: 10px;
  border: 1px solid #676767;
}
header .cart-login .cart img {
  width: 16px;
  height: 16px;
}
header .cart-login .login-btn {
  padding: 0px 12px;
  text-decoration: none;
  color: #676767;
  font-size: 12px;
}

.background-body {
  height: 500px;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
  display: block;
  margin-top: 88px;
}

.search-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  margin: 0px 36px;
  padding: 50px 30px;
  width: fit-content;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  z-index: 0;
  left: 0;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
  height: 360px;
}
.search-container .search-header,
.search-container .search-content,
.search-container .location-input,
.search-container .search-btn {
  width: 310px;
  font-weight: bold;
}
.search-container .search-header {
  font-size: 20px;
}
.search-container .search-content {
  font-size: 36px;
  margin-bottom: 20px;
}
.search-container .location-input {
  display: grid;
  grid-template-columns: 10% 90%;
  border: 1px solid #676767;
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 10px;
}
.search-container .location-input .location-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container .location-input img {
  width: 32px;
  height: 32px;
}
.search-container .location-input input {
  margin-left: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}
.search-container .search-btn {
  height: 48px;
  width: 100%;
  background-color: #00b14f;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.offcanvas .offcanvas-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.offcanvas .offcanvas-body img {
  width: 316px;
}

.offcanvas .offcanvas-body h5 {
  font-size: 20px;
  color: #1c1c1c;
  font-weight: 600;
  margin-top: 24px;
}

.offcanvas .offcanvas-body .caption {
  margin-top: 8px;
  color: #9a9a9a;
  font-size: 12px;
}

.offcanvas .offcanvas-body .btn {
  padding: 10px 0;
  background: none;
  outline: none;
  border: none;
  color: rgb(0, 165, 207);
}

main.main-page {
  background-color: white;
  padding: 60px 40px;
  /* border-top: 2px solid #676767; */
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  padding-top: 10px;
  display: block;
}
main.main-page .title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 48px;
}
main.main-page .title .green-text {
  color: #00b14f;
  font-size: 36px;
}
main.main-page .main1 .swiper-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}
main.main-page .main1 .swiper-container::-webkit-scrollbar {
  width: 0px;
}
main.main-page .main1 .swiper-container .swiper-slide {
  padding: 0 8px 48px;
  cursor: pointer;
  text-decoration: none;
  color: #676767;
}
main.main-page .main1 .swiper-container .swiper-slide .food-image {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5px;
  height: 200px;
}
main.main-page .main1 .swiper-container .swiper-slide .food-address {
  font-size: 18px;
  margin-bottom: 10px;
  color: black;
}
main.main-page .main1 .swiper-container .swiper-slide .filter-name {
  color: #676767;
  font-size: 14px;
  margin-bottom: 10px;
}
main.main-page .main1 .swiper-container .swiper-slide .basic-info {
  display: flex;
  align-items: center;
  color: #676767;
  gap: 20px;
}
main.main-page .main1 .swiper-container .swiper-slide .basic-info .ranking {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: inherit;
}
main.main-page .main1 .swiper-container .swiper-slide .basic-info img {
  width: 24px;
  height: 24px;
}
main.main-page
  .main1
  .swiper-container
  .swiper-slide
  .basic-info
  .time-distance {
  display: flex;
  gap: 10px;
  font-size: inherit;
}
/* main.main-page .swiper-container .swiper-slide .basic-info .time-distance .dot {
  font-weight: bold;
  display: inherit;
  justify-content: center;
  align-items: center;
} */
main.main-page
  .main1
  .swiper-container
  .swiper-slide
  .basic-info
  .time-distance
  .time {
  display: inherit;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  gap: 10px;
}
main.main-page
  .main1
  .swiper-container
  .swiper-slide
  .basic-info
  .time-distance
  .distance {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
}
main.main-page .main1 .swiper-container .swiper-slide .discount {
  margin-top: 10px;
  width: 100%;
  word-wrap: break-word;
}
main.main-page .main1 .swiper-container .swiper-slide .discount .discount-logo {
  width: 24px;
  height: 24px;
}
main.main-page .main1 .swiper-container .swiper-slide .discount .discount-text {
  font-size: 14px;
  color: black;
}
main.main-page .main2 .categories {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 0;
  width: 100%;
}
main.main-page .main2 .categories .category {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
main.main-page .main2 .categories .category .category-image {
  border-radius: 5px;
}
main.main-page .main2 .categories .category .category-text {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
main.main-page .main3 .title {
  margin: 40px 0;
}
main.main-page .main3 .why-goodfood-list {
  padding-right: 24px;
}
main.main-page .main3 .why-goodfood-list .list {
  margin: 16px 0;
  display: flex;
  font-size: 14px;
  flex-direction: row;
}
main.main-page .main3 .why-goodfood-list .list .tick-icon {
  width: 20px;
  height: 15px;
  filter: invert(47%) sepia(22%) saturate(7069%) hue-rotate(121deg)
    brightness(96%) contrast(101%);
  margin-right: 10px;
  margin-top: 2px;
}
main.main-page .main3 .why-goodfood-list .list .bold {
  font-weight: bold;
}
main.main-page .main4 .title {
  margin-bottom: 10px;
}
main.main-page .main4 .questions {
  display: flex;
  flex-direction: column;
}
main.main-page .main4 .questions .question:not(:first-child) {
  border-top: 1px solid #676767;
}
main.main-page .main4 .questions .question {
  padding: 30px 0;
}
main.main-page .main4 .questions .question h4 {
  font-size: 24px;
  margin-bottom: 16px;
}
main.main-page .main4 .questions .question .answer {
  display: flex;
  gap: 14px;
  font-size: 14px;
  flex-direction: column;
}
main.main-page .main4 .questions .question .answer ol {
  padding-left: 40px;
  list-style-type: decimal;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main.main-page .main4 .questions .question .answer ol .bold {
  font-weight: bold;
}

footer {
  width: 100%;
}

footer .footer1 {
  background-color: #f7f7f7;
  padding: 108px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .footer1 .restaurant-container,
footer .footer1 .download-container {
  display: inherit;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 14px 48px;
  text-align: center;
  gap: 24px;
}
footer .footer1 .restaurant-container .title,
footer .footer1 .download-container .title {
  font-size: 20px;
  font-weight: bold;
}
footer .footer1 .restaurant-container .description,
footer .footer1 .download-container .description {
  font-size: 14px;
}
footer .footer1 .restaurant-container .banner-img {
  width: 150px;
  height: 150px;
}
footer .footer1 .download-container .download-img {
  width: 150px;
  height: 150px;
}
footer .footer1 .download-container .logo-store {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
footer .footer2 {
  padding: 44px 40px 12px;
  background: #00b14f;
}
footer .footer2 .logo {
  padding-bottom: 20px;
  color: white;
}
footer .footer2 .logo img {
  height: 80px;
}
footer .footer2 .web-link {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
}
footer .footer2 .web-link .about,
footer .footer2 .web-link .open-store,
footer .footer2 .web-link .help {
  width: 25%;
  display: inherit;
  flex-direction: column;
}
footer .footer2 .web-link .link-item {
  display: flex;
  align-items: center;
  height: 52px;
}
footer .footer2 .web-link .link-item a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
footer .footer2 .web-link .social-icon {
  width: 25%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 52px;
  align-items: center;
}
footer .footer2 .web-link .social-icon .icon {
  width: 32px;
  height: 32px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(114deg)
    brightness(109%) contrast(97%);
}
footer .footer2 .logo-store {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

@media screen and (max-width: 1024px) {
  main.main-page .main1 .swiper-container {
    grid-template-columns: repeat(3, 1fr);
  }
  main.main-page .main2 .categories {
    grid-template-columns: repeat(3, 33.33%);
  }
}

@media screen and (max-width: 750px) {
  footer {
    display: none;
  }
  main.main-page .main1 .swiper-container {
    grid-template-columns: repeat(2, 1fr);
  }
  main.main-page .main2 .categories {
    grid-template-columns: repeat(2, 50%);
  }
  footer .footer1 {
    flex-direction: column;
  }
  footer .footer1 .restaurant-container,
  footer .footer1 .download-container {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  main.main-page .main1 .swiper-container .swiper-slide .basic-info {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 440px) {
  .search-container {
    width: 100%;
    margin: 0;
  }
  .search-container .location-input {
    width: 100%;
  }
  main.main-page .main1 .swiper-container {
    display: flex;
    flex-direction: column;
  }
  main.main-page .main2 .categories {
    display: flex;
    flex-direction: column;
  }
  footer .footer1 {
    flex-direction: column;
  }
  footer .footer1 .restaurant-container,
  footer .footer1 .download-container {
    width: 100%;
  }
}
